@keyframes simpleform-rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.simpleform-rotateInDownRight {
  animation-name: simpleform-rotateInDownRight;
}

@keyframes simpleform-bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.simpleform-bounceOutDown {
  animation-name: simpleform-bounceOutDown;
}

@keyframes simpleform-bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -23px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -12px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.simpleform-bounce {
  animation-name: simpleform-bounce;
  transform-origin: center bottom;
}

@keyframes simpleform-fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.simpleform-fadeOut {
  animation-name: simpleform-fadeOut;
}

@keyframes simpleform-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.simpleform-fadeIn {
  animation-name: simpleform-fadeIn;
}
